{% extends 'base.html' %}

{% block content %}
<h3><a href='{{ post.url }}'>{{ post.title }}</a></h3>
<p>posted by <a href="{% url 'user-detail' post.author.pk %}">{{ post.author }}</a> on {{ post.date_added }}</p>
<form action="{% url 'post_favorite' pk=post.pk %}" method="POST">
    {% csrf_token %}
    <button class='favorite_submit_button' type="submit">
        {% if post in request.user.favorite_posts.all %}
        {{ post.favorited_by.count }} ❤️
        {% else %}
        {{ post.favorited_by.count }} ♡
        {% endif %}
    </button>
    <input type="hidden" name="next" value="{{ request.path }}">
</form>
<br>
<p>{{ post.content }}</p>

<br>
<a href="{% url 'comment_new' pk=post.pk %}">Add your comment</a>
<br>

{% for comment in post.comments.all %}
    <div class='comment'>
        <p><a href="{% url 'user-detail' comment.author.pk %}">{{ comment.author.username }}</a> on {{ comment.comment_date_added }}</p>
        <p>{{ comment.content }}<p>
        <form action="{% url 'comment_favorite' pk=comment.pk%}" method="POST">
            {% csrf_token %}
            <button class='favorite_submit_button' type="submit">
                {% if comment in request.user.favorite_comments.all %}
                {{ comment.favorited_by.count }} ❤️
                {% else %}
                {{ comment.favorited_by.count }} ♡
                {% endif %}
            </button>
            <input type="hidden" name="next" value="{{ request.path }}">
        </form>
    </div>
{% endfor %}

<a href=""

{% endblock %}