{% extends 'base.html' %}

{% block content %}
<h3><a href='{{ post.url }}'>{{ post.title }}</a></h3>
<p>posted by <a href="{% url 'author-detail' post.author.pk %}">{{ post.author }}</a> on {{ post.date_added }}</p>
<br>
<p>{{ post.content }}</p>

<br>
<br>

{% for comment in post.comments.all %}
    <div class='comment'>
        <p><a href="{% url 'author-detail' comment.author.pk %}">{{ comment.author.name }}</a> on {{ comment.comment_date_added }}</p>
        <p>{{ comment.content }}<p>
        <p>{{ comment.favorited_by.count }} favorites</p>
        <br>
    </div>
{% endfor %}

<a href=""

{% endblock %}