{% extends 'base.html' %}

{% block content %}

<h3>
{% if post.url|length > 0 %}
        <a href='{{ post.url }}'>{{ post.title }}</a></h3>
    {% else %}
        {{ post.title }}</h3>
    {% endif %}
<p>posted by <a href="{% url 'user-detail' post.author.pk %}">{{ post.author }}</a> on {{ post.date_added }}</p>
<form action="{% url 'post_favorite' pk=post.pk %}" method="POST">
    {% csrf_token %}
    <button class='favorite_submit_button' type="submit">
        {% if post in request.user.favorite_posts.all %}
        {{ post.favorited_by.count }} ❤️
        {% else %}
        {{ post.favorited_by.count }} ♡
        {% endif %}
    </button>
    <input type="hidden" name="next" value="{{ request.path }}">
</form>
<br>
<p>{{ post.content }}</p>

<br>
<a href="{% url 'comment_new' pk=post.pk %}">Add your comment</a>
<br>

{% for comment in comments %}
    <div class='comment'>
        <p><a href="{% url 'user-detail' comment.author.pk %}">{{ comment.author.username }}</a> on {{ comment.comment_date_added }}</p>
        <p>{{ comment.content }}<p>
        <form action="{% url 'comment_favorite' pk=comment.pk%}" method="POST">
            {% csrf_token %}
            <button class='favorite_submit_button' type="submit">
                {% if comment in request.user.favorite_comments.all %}
                {{ comment.favorited_by.count }} ❤️
                {% else %}
                {{ comment.favorited_by.count }} ♡
                {% endif %}
            </button>
            <input type="hidden" name="next" value="{{ request.path }}">
        </form>
        {% if user == comment.author %}
            <p><a href="{% url 'comment_delete' comment.pk %}">Delete Comment</a></p>
        {% endif %}
    </div>
{% endfor %}

{% if user == post.author %}
    <p><a href="{% url 'post_delete' post.pk %}">Delete Blog Post</a></p>
{% endif %}
<a href=""

{% endblock %}

{% block pagination %}
    <div class="step_links">
        {% if comments.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ comments.previous_page_number }}"> previous </a>
        {% endif %}

        <span class="current">
            Page {{ comments.number }} of {{ comments.paginator.num_pages }}
        </span>

        {% if comments.has_next %}
            <a href="?page={{ comments.next_page_number }}"> next</a>
            <a href="?page={{ comments.paginator.num_pages }}"> last &raquo;</a>
        {% endif %}
    </div>
{% endblock %} 