{% extends 'base.html' %}

{% load querystring %}

{% block content %}
<div class='sort-by' style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
    <br><br>Sort by: 
    <a href="{% replace_GET_param request 'sort' 'favorites' %}">Most Favorited</a> | 
    <a href="{% replace_GET_param request 'sort' 'date_added' %}">Date Created</a>
</div>


<div style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
    <br><br><h2><a href="{% url 'post_new' %}" class="new_post" >Post something!</a><h2><br>
{% for post in post_list %}
    <h3>
    {% if post.url|length > 0 %}
        <a href='{{ post.url }}' class="post_title">{{ post.title }}</a></h3>
    {% else %}
        <a href='{{ post.get_absolute_url }}' class="post_title">{{ post.title }}</a></h3>
    {% endif %}
    <span>Submitted by <a href="{% url 'user-detail' post.author.pk %}">{{ post.author.username }}</a> on {{ post.date_added }}</span>
    <span>|</span>
    <span><a href='{{ post.get_absolute_url }}'>{{ post.comments.all.count }} comments</a></span>
    
    <span>
    <form action="{% url 'post_favorite' pk=post.pk %}" method="POST">
        {% csrf_token %}
        <button class='favorite_submit_button' type="submit">
            {% if post in request.user.favorite_posts.all %}
            {{ post.favorited_by.count }} ❤️
            {% else %}
            {{ post.favorited_by.count }} ♡
            {% endif %}
        </button>
        <input type="hidden" name="next" value="{{ request.path }}">
    </form>
    </span>
    
    {% if user == post.author %}
        <span> | <a href="{% url 'post_delete' post.pk %}">Delete Blog Post</a></span>
    {% endif %}
{% endfor %}
{% endblock %}