.profilebuttons {
    display: flex;
}

.comment {
    border-top-style: solid;
    border-top-width: 1px;
}

.favorite_submit_button {
    background: transparent;
    border-style: none;
    font: bold 15px arial, sans-serif;
    text-shadow:none;
    height:30px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    outline: none;
    border: none;
}

.favorite_submit_button:hover {
    cursor: pointer;
}

.favorite_submit_button:active {
    border-style:outset;
    border:none;
}